# ignore all . files
.*
# except
!.gitignore

*.iml

# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/
